<!doctype html>
<html lang="en">

<head>
	<title> Homepage </title>
</head>

<body>
		

<div class="jumbotron">
  <h1 class="display-4">CityExperience!</h1>
  <center>
  <p class="lead"><i>Your best travel guide!</i></p>
  <hr class="my-4">
  <p>Learn more from travellers like yourself through the list below.</p>
  <% if @current_user %>

  <% else %>
  <center>  
  <a class="btn btn-primary btn-lg" href="/users/new" role="button">Sign up here</a>
  </center>
  <%end%>
</div>    


 <div class = "col mt-5">
    <% for place in @places %>
        <p>
        <ul class="list-group list-group-flush">
  <li class="list-group-item"><a href = "/places/<%= place[:id] %>"><%= place[:name] %></a></li>
  
</ul>
            
        </p>

    <% end %>
    </div>
     
   

    </body>
    </html>